@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "https://unpkg.com/open-props";

:root {
    --clr-body-background: #272225;
    --clr-text: var(--sand-0);
    --clr-accent: var(--orange-4);
    --clr-tag: var(--orange-4);
    --clr-tag-text: var(--orange-11);
    --clr--footer: var(--cyan-11);

    --ff-body: "Poppins", sans-serif;
    --ff-heading: "Abril Fatface", serif;
    --ff-stye-normal: 'normal';

    --fs-200: clamp(0.535rem, 0.7928rem + 0.2029vw, 0.75rem);
    --fs-300: clamp(0.8333rem, 0.7928rem + 0.2029vw, 0.95rem);
    --fs-400: clamp(1rem, 0.9348rem + 0.3261vw, 1.183rem);
    --fs-500: clamp(1.3rem, 1.2955rem + 0.7226vw, 1.6175rem);
    --fs-600: clamp(1.728rem, 1.5223rem + 1.0284vw, 2.3193rem);
    --fs-700: clamp(2.0736rem, 1.7864rem + 1.4358vw, 2.8992rem);
    --fs-800: clamp(2.4883rem, 2.0933rem + 1.975vw, 3.624rem);

    --fs-title: clamp(1.75rem, 0.5303rem + 2.0202vw, 1.9rem);
    --fs-body: var(--fs-400);
    --fs-date: var(--fs-200);
    --fs-logo: var(--fs-500);
    --fs-hero-title: var(--fs-800);
    --fs-post-title: var(--fs-500);
    --fs-article-title: var(--fs-700);
    --fs-tag: 1.125rem;
    --fs-footer: var(--fs-300);

    --fs-hero: var(--fs-800);
    --fs-heading-1: var(--fs-700);
    --fs-heading-2: var(--fs-600);
    --fs-heading-3: var(--fs-500);
    --fs-heading-4: var(--fs-400);
    --fs-heading-5: var(--fs-300);
    --fs-heading-6: var(--fs-200);
    --fs-text: var(--fs-400);

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    --hero-spacing: 3rem;
    --section-spacing: 5rem;
    --links-section-spacing: 2rem;
    --links-spacing: 1.5rem;
    --article-spacing: 3rem;
    --flow: 1rem;
    --p-max-width: 55ch;
    --margin-spacing: 0.5em;

}

/* RESETS */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    /* color-scheme: dark light; */
    hanging-punctuation: first last;
}

/* min body height */
body {
    min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
    max-width: var(--p-max-width, 65ch);
    text-wrap: pretty;
}

/* STYLES */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: var(--clr-body-background);
    color: var(--clr-text);
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: var(--fs-text);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-heading);
}

section {
    --flow-space: 5rem
}

article {
    --flow-space: 3rem
}

h1 {
    --flow-space: 1.5rem;
    font-size: var(--fs-heading-1);
    font-weight: var(--fw-500);
}

h2 {
    --flow-space: 1.5rem;
    font-size: var(--fs-heading-2);
}

h3 {
    --flow-space: 1.125rem;
    font-size: var(--fs-heading-3);
}

h4 {
    --flow-space: 1rem;
}

div {
    --flow-space: 1rem;
}

p {
    --flow-space: 1rem;
}

p+div {
    --flow-space: 1.125rem;
}

small {
    font-size: var(--fs-300);
}

a {
    color: var(--clr-text);
}

.flow {
    padding-block: var(--flow-space, 1rem);
}

.flow>*+* {
    padding-block: var(--flow-space, 1rem);
}

.content-grid,
.full-width {
    --padding-inline: 2rem;
    --content-max-width: 65%;
    --breakout-max-width: 90%;

    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width))/ 2);

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.full-width> :not(.breakout, .full-width) {
    grid-column: content
}

.content-grid>.breakout {
    grid-column: breakout
}

.content-grid>.full-width {
    grid-column: full-width
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    place-items: start;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1em;
}

.logo {
    font-size: var(--fs-logo);
    color: var(--clr-text);
    width: 15ch;
    line-height: 1.3;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 1em;
}

.nav__link {
    font-weight: var(--fw-500);
}

.accent {
    position: relative;
    transition: 0.2s;
}

.accent::after {
    content: "";
    background-color: var(--clr-accent);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    transition: width 0.2s ease 0s,
        left 0.2s ease 0s;
}

.accent:hover,
.accent:focus {
    text-decoration-color: var(--clr-accent);
}

.accent:hover::after,
.accent:focus::after {
    background-color: var(--clr-accent);
    width: 100%;
}

.hero {
    line-height: 1.8;
    overflow-x: clip;
    overflow-y: visible;
}

.hero__title {
    font-size: var(--fs-hero-title);
}

.hero__intro {
    padding-block: var(--flow);
    width: 70%;
}

.hero__gallery {
    display: grid;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
}

.hero__gallery .flex::after {
    content: "";
    align-self: stretch;
    padding-inline-end: max(2rem, (100vw - 75ch)/2 - 2rem)
}

.hero__gallery--item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    inline-size: 100%;
    max-inline-size: 25rem;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.post__summary {
    margin-block: 1em;
}

.post__tags {
    display: flex;
    align-items: center;
    gap: 1em;
}

.links__text {
    margin-block: var(--margin-spacing);
}

.links__item {
    margin-right: 1.5em;
}

.tag {
    background-color: var(--clr-tag);
    color: var(--clr-tag-text);
    margin: 1em 0;
    padding: 0.25em 1em;
    border: none;
    border-radius: 15px;
    font-size: var(--fs-300);
}


footer {
    background-color: var(--clr--footer);
    padding: var(--article-spacing) 0;
    font-size: var(--fs-footer);
}

.footer__left {
    width: 100%;
}

.footer__text {
    font-weight: var(--fw-200);
}

.footer__right {
    display: flex;
    gap: 1em;
}


@media (width < 800px) {
    .flex {
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .nav {
        justify-content: flex-start;

    }

    .tags-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
        padding-block: 1em;
    }

}

@media (width > 800px) {
    .flex {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .tags-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
        padding-block: 1em;
    }

}