---
layout: default.njk
pagination:
  data: posts
  alias: posts
  addAllPagesToCollections: true
  size: 1
permalink: 'posts/{{ posts.slug | slugify }}/index.html'
eleventyComputed: 
  title: "{{ posts.title.rendered  }}"
  summary: "{{ posts.acf.summary | safe }}"
  postContent: "{{ posts.content.rendered | safe }}"
  postDate: "{{ posts.date }}"
tags: 'posts'
---

{% block content %}
<div class="container">
  <article class="post">
    <h1 class="post__title">{{ posts.title.rendered }}</h1>
    <div class="post__tags">
      <small>{{ posts.date | postDate }}</small>
      {% for tag in posts.tags %} {% for tagName in tags %} {% if tag ==
      tagName.id %}
      <a href="" class="tag">{{ tagName.name }}</a>
      {%endif%} {% endfor %} {% endfor %}
    </div>
    {{ posts.content.rendered | safe }}
  </article>
</div>
{% endblock %}
