---
title: "Oops! Not Found"
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{'/css/styles.css' | url }}">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <p>The page you requested was not found</p>
    <a href={{"/" | url }}>Go Home</a>
</body>

</html>