---
layout: default.liquid
---

<section class="hero">
    <div class="hero__left">
        <h1 class="hero__title">
            Hi! I'm Laurie
        </h1>
        <p class="hero__text">Welcome to my digital collection. It's where I share some random thoughts, and add cool links to other websites to my list.  I'll also use this site to learn Headless Wordpress and Eleventy. </p>
    </div>
    <div class="hero__right">
        <div class="hero__right--one">
            <img src="" alt="">
        </div>
        <div class="hero__right--two">
            <img src="" alt="">
        </div>
        <div class="hero__right--three">
            <img src="" alt="">
        </div>
    </div>
</section>
<section class="posts">
    <h1 class="title">Latest Posts</h1>
    <div class="posts__container">
        <div class="post">
            <h2 class="post-title"></h2>
            <p class="post-excerpt"></p>
        </div>
        <div class="post">
            <h2 class="post__title"></h2>
            <p class="post__excerpt"></p>
        </div>
        <div class="post">
            <h2 class="post__title"></h2>
            <p class="post__excerpt"></p>
        </div>
    </div>
</section>
<section class="links">
    <h1 class="title">Recent Links</h1>
    <div class="links__container">
        <div class="link">
            <h2 class="link__title"></h2>
            <p class="link__excerpt"></p>
        </div>
        <div class="link">
            <h2 class="link__title"></h2>
            <p class="link__excerpt"></p>
        </div>
        <div class="link">
            <h2 class="link__title"></h2>
            <p class="link__excerpt"></p>
        </div>
    </div>
</section>