---
layout: default.njk
eleventyExcludeFromCollections: true
title: 'Links'
tags: 'links'
---
{% block content %}
<section class="page flow">
  <h1 class="page__title">{{ title }}</h1>
  {% for link in links %}
  <div class="links">
    <h2 class="link">
      <a href="{{ link.url | url }}" class="accent">{{ link.title }}</a>
    </h2>
    <p class="links__text">{{ link.description }}</p>
  </div>
  {% endfor %}
</section>
{% endblock %}
