---
title: "Links"
layout: page.liquid
---

<article class="page">
<h1 class="title">{{title}}</h1> 
{% for link in links %}
    <div class="links flow">
        <a href="{{ link.url | url }}">{{link.title}}</a>
        <p class="links__text">{{link.description}}</p>
    </div>
{% endfor %}
</article>