---
layout: default.njk
pagination:
  data: pages
  size: 1
  alias: pages
permalink: '/{{ pages.slug | slugify }}/index.html'
---

<article class="page container">
  <h1 class="title">{{ pages.title.rendered }}</h1>
  {{ pages.content.rendered | safe }}
</article>
