---
layout: default.njk
eleventyExcludeFromCollections: true
pagination:
  data: pages
  size: 1
  alias: pages
permalink: '/{{ pages.slug | slugify }}/index.html'
tags: 'pages'
---
<article class="page container">
  <h1 class="page__title">{{ pages.title.rendered }}</h1>
  {{ pages.content.rendered | safe }}
</article>