---
layout: default.njk
eleventyExcludeFromCollections: true
pagination:
  data: pages
  size: 1
  alias: pages
permalink: '/{{ pages.slug | slugify }}/index.html'
tags: 'pages'
---
{% block content %}
<section class="flow full-width content-grid">
  <div class="flow content">
  <h1>{{ pages.title.rendered }}</h1>
  {{ pages.content.rendered | safe }}
  </div>
</section>
{% endblock %}