---
layout: page.liquid
pagination: 
    data: posts
    size: 1
    alias: posts
---

{% for post in posts %}
    <article>
        <h2 class="title">{{ post.title.rendered}} </h2>
    </article>
{% endfor %}
