---
layout: default.njk
eleventyExcludeFromCollections: true
title: 'Posts'
pagination:
  data: posts
  size: 5
  alias: postsPage
  reverse: true
---
<section class="flow">
    <h1>{{ title }}</h1>
    {%- for post in postsPage %}
    <div class="posts" >
      <h2 class="post__link">
<a href="{{ post.slug }}/" class="accent"
        >{{ post.title.rendered }}
      </a>
      </h2>
      <small>{{ post.date | postDate }}</small>
      <p>{{ post.acf.summary }}</p>
      <div class="post__tags">
        {%- for tag in post.tags %}
          {% for tagName in tags %}
            {% if tag == tagName.id %}
              <a href="" class="tag">{{ tagName.name }}</a>
            {%endif%}
          {% endfor -%}
      {% endfor -%}
      </div>
    </div>
    {% endfor -%}
</section>