---
layout: default.njk
title: "Tags"
eleventyExcludeFromCollections: true
---
<section class="flow">
<ul class="tags-container">
    {%- for tag in tags %}
        <li><a href="/" class="tag">{{tag.name}}</a></li>
    {% endfor -%}
</ul>
</section>
