---
layout: default.njk
title: "Tags"
eleventyExcludeFromCollections: true
---
<div class="container">
    <ul class="tags-container">
        {%- for tag in tags %}
            <li class="tag">{{tag.name}}</li>
        {% endfor -%}
    </ul>

</div>