<div class="footer__left">
    <p>&copy; 2024 Laurie's Digital Collection </p> 
    <p class="footer__text">Made with <a href="https://developer.wordpress.org/rest-api/" class="accent">Headless Wordpress</a> and <a href="https://11ty.dev" class="accent">Eleventy</a>, and hosted on <a href="https://render.com" class="accent">Render</a>.</p>
    <p class="footer__text">Images by <a href="https://unsplash.com" class="accent">Unsplash</a>.</p>
</div>
<div class="footer__right">
    <a href="https://github.com/lauriejefferson">
        <img src="" alt="github">
    </a>
    <a href="https://codepen.io/lauriejefferson">
        <img src="" alt="codepen">
    </a>
</div>
