<header>
    <div class="logo">Laurie's Digital Collection</div>
    <div class="nav">
        <ul class="nav__list">
            <li class="nav__list--item"><a href="" class="nav__link"></a></li>
            <li class="nav__list--item"><a href="" class="nav__link"></a></li>
            <li class="nav__list--item"><a href="" class="nav__link"></a></li>
            <li class="nav__list--item"><a href="" class="nav__link"></a></li>
            <li class="nav__list--item"><a href="" class="nav__link"></a></li>
        </ul>
    </div>
</header>