<h2 class="logo"><a href="{{ '/' | url }}">Laurie's Digital Collection</a></h2>
<div class="nav">
  <ul class="nav__list">
    <li class="nav__list--item">
      <a href="{{ '/' | url }}" class="nav__link accent">Home</a>
    </li>
    <li class="nav__list--item">
      <a href="{{ '/about-me/' | url }}" class="nav__link accent">About</a>
    </li>
    <li class="nav__list--item">
      <a href="{{ '/posts/' | url }}" class="nav__link accent">Posts</a>
    </li>
    <li class="nav__list--item">
      <a href="{{ '/links/' | url }}" class="nav__link accent">Links</a>
    </li>
    <li class="nav__list--item">
      <a href="{{ '/tags/' | url }}" class="nav__link accent">Tags</a>
    </li>
    <li class="nav__list--item">
      <a href="{{ '/feed/feed.xml' | url }}" class="nav__link accent">RSS</a>
    </li>
  </ul>
</div>
